# 敏感配置文件
docs/nacos/*-dev.yaml
docs/nacos/*-prod.yaml
!docs/nacos/*-example.yaml
!docs/nacos/*-template.yaml

deploy/.env
deploy/env-example
deploy/docker-compose.yaml

# 日志文件
*.log
logs/

# 临时文件
*.tmp
*.temp
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# 系统文件
.DS_Store
desktop.ini

ml
runs
best.onnx
classes.txt
train.json

