## Spring Boot
COMPOSE_PROJECT_NAME=hospital
SPRING_PROFILES_ACTIVE=prod

## Nacos
NACOS_SERVER_ADDR=nacos:8848
NACOS_NAMESPACE=44840347-f66a-40d9-9bf8-55876f9fd585
NACOS_AUTH_TOKEN=7x4IUn/6ew83IbDyqQ8NSZbCYrn+uKSMi68HSsuInBQ=
NACOS_AUTH_IDENTITY_KEY=serverIdentity
NACOS_AUTH_IDENTITY_VALUE=security

## Mysql
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=tcm_health_system

## Redis
REDIS_PASSWORD=redis

## RabbitMQ
RABBIT_USER=guest
RABBIT_PASSWORD=guest

## ElasticSearch
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=elastic