## Spring Boot
SPRING_PROFILES_ACTIVE=prod

## Nacos
NACOS_SERVER_ADDR=nacos:8848
NACOS_NAMESPACE=prod
NACOS_AUTH_TOKEN=change-me-token
NACOS_AUTH_IDENTITY_KEY=serverIdentity
NACOS_AUTH_IDENTITY_VALUE=security
